@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    @apply bg-white font-body;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

@theme {
    --color-primary: #ffa500;
    --color-secondary: #0A69D8;
    --color-green: #05A845;
    --color-olive: #AB9774;
    --color-yellow: #FFD43A;
    --color-paraColor: #7d7b7b;
    --color-black: #333333;
    --color-white: #ffffff;
    --color-rating: #F9A61C;
    --color-lightBg: #F5F5F5;
    --color-borderColor: #e5e5e5;
    --font-heading: "Jost", serif;
    --font-body: "Roboto", serif;
    --font-cursive: "Oregano", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-black font-bold;
}

.common_btn {
    @apply bg-primary text-white text-[15px] font-medium rounded-lg px-6.5 py-3 flex items-center gap-1 hover:bg-black ease-in-out duration-300
}

.para {
    @apply text-paraColor text-base;
}

.view_all_btn {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 400;
    color: var(--colorBlack);
    text-transform: capitalize;
    font-family: var(--headingFont);
    position: relative;
    padding-right: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.view_all_btn:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.view_all_btn::after {
    position: absolute;
    content: "";
    background: url(..//images/arrow_icon_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 15px;
    top: 4px;
    right: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.view_all_btn:hover::after {
    filter: brightness(0) saturate(100%) invert(83%) sepia(38%) saturate(6159%) hue-rotate(358deg) brightness(98%) contrast(108%);
    -webkit-filter: brightness(0) saturate(100%) invert(83%) sepia(38%) saturate(6159%) hue-rotate(358deg) brightness(98%) contrast(108%);
}

.section_heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section_heading h3,
.section_heading h3 span {
    font-weight: 600;
    font-size: 36px;
    color: var(--colorBlack);
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.section_heading h3 span::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 75px;
    background: url(../images/heading_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -10px;
    left: -7px;
    z-index: -1;
    opacity: 1;
}

.category_item:hover .img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.category_item:hover h2 {
    color: var(--color-primary);
}